<ion-header>
  <ion-toolbar text-center>
    <ion-icon name="close" slot="start" class="ion-padding"></ion-icon>
    Flacon
  </ion-toolbar>
</ion-header>

<ion-content>
  <p text-center>
    <ion-text color="medium">
      Fill in the data for this item
    </ion-text>
  </p>
  <form>
    <ion-list>

      <ion-item>
        <ion-label>Quantity</ion-label>
        <ion-input></ion-input>
        <ion-icon name="help" slot="end"></ion-icon>
      </ion-item>
     
      <ion-item>
          <ion-select>
            <ion-select-option selected value="cases">Cases</ion-select-option>
            <ion-select-option value="each">Each</ion-select-option>
        </ion-select>
        <ion-icon name="help" slot="end"></ion-icon>
      </ion-item>
     
      <ion-item>
        <ion-label>Lot/Serial #</ion-label>
        <ion-input></ion-input>
        <ion-icon name="cube" slot="end"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label>Lot Expiration Date</ion-label>        
        <ion-datetime></ion-datetime>
        <ion-icon name="calendar" slot="end"></ion-icon>
      </ion-item>

    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-button></ion-button>
</ion-footer>
