<ion-header>
  <ion-toolbar>
    Logo
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col size="10">
            <ion-card-title>
              Receive Shipment From Supplier
            </ion-card-title>
          </ion-col>
          <ion-col size="2">
            <ion-icon name="cube" style="font-size:30px"               color="dark"></ion-icon>
          </ion-col>
        </ion-row>        
      </ion-grid>
    </ion-card-header>
  </ion-card>

  <ion-card>
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col size="10">
              <ion-card-title>
                Receive Shipment From Other Donor Center
              </ion-card-title>
            </ion-col>
            <ion-col size="2">
              <ion-icon name="sync" style="font-size:30px"                                                               color="dark"></ion-icon>
            </ion-col>
          </ion-row>          
        </ion-grid>
      </ion-card-header>
  </ion-card>
 

</ion-content>