<ion-header>
  <ion-toolbar text-center>
    Logo
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment scrollable>
    <ion-segment-button value="inventory" checked>
      Inventory
    </ion-segment-button>
    <ion-segment-button value="cyclecount">
      Cycle count
    </ion-segment-button>
  </ion-segment>

  <div class="blueContent" padding>
    <p>
      MOST FREQUENT TASKS
    </p>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col size="10">
            <ion-card-title>
              Receive Shipment From Supplier
            </ion-card-title>
          </ion-col>
          <ion-col size="2">
            <ion-icon name="cube" class="taskIcon" color="dark"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-text>
          <ion-chip color="primary">
            <ion-icon name="time"></ion-icon>
              Normally takes about <strong>20 minutes</strong>
            </ion-label>
          </ion-chip>
        </ion-text>
      </ion-grid>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col size="10">
            <ion-card-title>
              Approve with QA certificate
            </ion-card-title>
          </ion-col>
          <ion-col size="2">
            <ion-icon name="document" class="taskIcon" color="dark"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-text>
          <ion-chip color="primary">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            <strong> 2 Items</strong>
            to be approved
          </ion-chip>
        </ion-text>
      </ion-grid>
    </ion-card-header>
  </ion-card>

  <div padding>
    <ion-text color="primary">
      ALL AVAILABLE TASKS
    </ion-text>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col size="10">
            <ion-card-title>
              Manual Inventory Adjustment
            </ion-card-title>
          </ion-col>
          <ion-col size="2">
            <ion-icon name="clipboard" class="taskIcon" color="dark"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-text>
          <ion-chip color="primary">
          <ion-icon name="time"></ion-icon>
            Normally takes about 
            <strong>20 minutes</strong>
          </ion-label>
        </ion-chip>
        </ion-text>
      </ion-grid>
    </ion-card-header>
  </ion-card>

</ion-content>